/*  about start  */

.about {

  #screen {
    margin-top: 137px;
  }
  .section-text {
    .text-template(@Lato-Light, 16px, @color-gray, 137px, 600);
    line-height: 30px;
    .btn-lg {
      .button-template();
      margin-bottom: 232px;
      font-weight: 600;
    }
  }

}
/*  about stop  */

/* about media start  */

@media (max-width:768px) {
  .about {
    #screen {
      margin-top: 28px;
    }
    .section-text {
      margin-top: 25px;
      .btn-lg{
        margin: 25px 0 100px 0;
      }
    }
  }
}

@media (min-width:768px) and (max-width: 992px){
  .about {
    .section-text {
      font-size: 11px;
      .btn-lg{
        margin: 25px 0 100px 0;
        padding-top: 10px;
        font-size: 15px;
        height: 45px;
        width: 127px;
      }
    }
  }
}

@media (min-width:992px) and (max-width: 1200px) {
  .about {

    .section-text {
      .btn-lg{
        margin-top: 45px;
      }
    }
  }
}

/* about media stop  */