/*  feature start  */
@back-img-1:"http://bhagaskara/html/img/feature-2.png";
@back-img-2:"http://bhagaskara/html/img/feature-3.png";
@back-img-3:"http://bhagaskara/html/img/feature-4.png";

.feature {
  background:@color-feature;

  .content-feature {
    .template-icon(relative, 200px, 200px, 200px);
    .feature-hover{
      display: none;
      position: absolute;
      right: 0;
    }
  }

  .text-feature-big {
    .text-template(@Lato-Light,24px, @color-gray, 20px, 600);
    display: block;
  }

  .text-feature-small {
    .text-template(@Lato-Light, 16px, @color-gray, 40px, 600);
    display: block;
    line-height: 30px;
    margin-bottom: 228px;
  }

  .back-img-1 {
    background-image: url(@back-img-1);
  }

  .back-img-2 {
    background-image: url(@back-img-2);
  }

  .back-img-3 {
    background-image: url(@back-img-3);
  }

}
/*  feature stop  */

/* media navigation start */

/*  media sm */
@media (min-width: 768px) and (max-width: 992px) {
  .feature {
    .text-feature-big {
      font-size: 20px;
    }

    .text-feature-small {
      font-size: 13px;
      margin-top: 20px;
      margin-bottom: 100px;
    }
  }
}
/*  media xs */
@media (max-width: 768px) {
  .feature {
    margin-top: 100px;
    .text-feature-big {
      margin-top: 50px;
    }
    .text-feature-small {
      margin: 10px 0 50px 0;
    }
  }
}

/* media navigation stop */