/*  navigation start  */
.navigation {
  background: @color-white ;
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 1000;

  .logo-navigation {
     .text-template( @Existence-Light, 30px, @color-gray, 25px, 600);
  }

  .navbar-default {
    background-color: @color-white;
    border: none;
  }
  .navbar-default .navbar-collapse{
    border: none;
  }
  .nav {
    margin-top: 20px;
    & li a {
      .text-template( @Lato-Light, 18px, @color-black, 0, 600);
      &:hover {
        background:@color-white;
        color: @color-pink;
      }
    }
  }


}
/*  navigation stop  */

/* media navigation start */

@media (max-width: 992px) {
  .navigation  {
    .container {
      padding: 0;
      .menu-navigation{
        padding-right: 0;
      }

      .navbar-header {
        margin-top: 25px;
      }
      .logo-navigation {
        margin-top: 40px;
        font-size: 20px;
      }
      .nav {
        & li a {
          font-size: 12px;
          margin-top: 10px;
          margin-left: 0;
        }
      }
    }



  }
}

/* media navigation stop */


