/* portfolio start  */
.portfolio {
  background: @color-white;
  margin-top: -57px;

  .section-title {
    width: 350px;
  }

  .row-button {
    margin: 82px 0 70px 0;

    .btn {
      margin-left: 5px;
    }
    .btn-default:hover {
      background: @color-pink;
    }
  }
   .wrapper {
     li{
       list-style-type: none;

     }

     .wrapper-img {
       position: relative;
       .hover-portfolio-bg {
         background: red;
         position: absolute;
         opacity: 0.5;
         cursor: pointer;
         height: 100%;
         width: 100%;
         top:0;
         img {
           margin-top: 25%;
         }
       }
     }
   }

  .name-portfolio {
    .text-template (@HelveticaNeueLTStd-Lt, 24px, @color-black, 23px, 100);
    display: block;
  }

  .promo-text {
    .text-template (@HelveticaNeueLTStd-Lt, 17px, @color-gray, 0, 100);
    display: block;
    margin-bottom: 35px;
  }

  .btn-lg {
    .button-template();
    margin-top: 0;
  }

  .portfolio-button {
    width: 227px;
  }
}
/* portfolio stop  */


/* media portfolio start  */

@media (max-width:768px) {
  .portfolio {
    margin-top: 0;

    .wrapper {
      .wrapper-img{
        .hover-portfolio-bg {
          img {
            margin-top: 0;
          }
        }
      }
      .name-portfolio{
        font-size: 15px;
      }
      .promo-text{
        font-size: 10px;
      }
    }

    .row-button {
      margin-top: 50px;
    }
    .section-title {
      width: 280px;
      .section-logo {
        font-size: 40px;
      }
    }
    .name-portfolio {
      font-size: 20px;
    }
  }
}

@media (min-width:768px) and (max-width: 992px){
  .portfolio {
    .wrapper {
      .wrapper-img{
        .hover-portfolio-bg {
          img {
            margin-top: 10%;
          }
        }
      }
    }
  }
}

@media (min-width:992px) and (max-width: 1200px) {
  .portfolio {
    .wrapper {
      .wrapper-img{
        .hover-portfolio-bg {
          img {
            margin-top: 20%;
          }
        }
      }
    }
  }
}
/* media portfolio stop  */