/*  team start  */

.team {
  .arrow-slider {
    width: 136px;
    .arrow-left-slider {
      background-image: url("http://bhagaskara/html/img/arrow-slider-team.png");
      display: block;
      margin-top: 130px;
      position: static;
      height: 70px;
      opacity: 1;
      float: left;
      width: 68px;
      z-index: 1000;
    }
    .arrow-right-slider {
      .arrow-left-slider;
      background-position: -68px;
    }
  }
  .item{
    background:@color-white;
    text-align: center;
    width: 100%;
    height: 500px !important;
  }
  .carousel{
    .foto-team {
      margin: 50px 0 0 0;
      float: left;

      .name-team {
        .text-template (@Lato-Bold, 24px, @color-black, 83px,100);
        display: block;
      }

      .job-post {
        .text-template (@Lato-Regular, 18px, @color-gray, 20px, 100);
        display: block;
      }
      .networks{
        width: 160px;
        .social-networks {
          border-radius: 50%;
          border: 1px solid #000000;
          display: block;
          float: left;
          text-decoration: none;
          margin: 35px 0 0 15px;
          height: 50px;
          width: 48px;
        }
        .social-logo{
          .text-template (@TitilliumWeb-Light, 22px, @color-black, 5px,600);
          display: block;
        }
      }
    }
  }
}

/*  team stop  */

@media (min-width:992px) and (max-width: 1200px) {
  .team {
    .name-team {
      font-size: 15px;
    }
  }
}