/*  feature start  */

.feature {
  background:@color-feature;
  padding-top: 100px;

  .text-feature-big {
    .text-template(@Lato-Light,24px, @color-gray, 20px, 600);
    display: block;
  }

  .text-feature-small {
    .text-template(@Lato-Light, 16px, @color-gray, 40px, 600);
    display: block;
    line-height: 30px;
    margin-bottom: 228px;
  }

  .img-feature {
    height: 250px;
    width: 250px;
  }

}
/*  feature stop  */


/* media feature start */

@media (max-width: 768px) {
  .feature {
    .text-feature-big {
      margin-top: 50px;
    }
    .text-feature-small {
      margin: 10px 0 50px 0;
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .feature {
    .text-feature-big {
      font-size: 20px;
    }

    .text-feature-small {
      font-size: 13px;
      margin-top: 20px;
      margin-bottom: 100px;
    }

    .img-feature {
      height: 150px;
      width: 150px;
    }
  }
}

@media (min-width:992px) and (max-width: 1200px) {
  .feature {
    .img-feature {
      height: 205px;
      width: 205px;
    }
  }
}
/* media feature stop */
