/*  get-in-touch start  */

.get-in-touch {

  .section-title {
     margin-bottom: 170px;
     width: 350px;
  }
  .form-group {
    margin-bottom: 37px;
    .form-control {
      border: 1px solid #000000;
      border-radius: 0;
      height: 73px;
    }
    .textarea {
      height: 200px;
    }
  }
  .btn-lg {
    .button-template();
    margin-top: 0;
  }

  .text-get-in-touch {
    .text-template (@HelveticaNeueLTStd-Lt, 23px, @color-black, 0, 100 );
  }

  .address {
    .text-template (@helveticaneueltstd-bdcn-webfont, 23px, @color-black, 30px, 600 );
    display: block;
  }

  .contact {
    .address;
    margin-top: 34px;
  }
  .networks{
    .social-networks {
      border-radius: 50%;
      border: 1px solid #000000;
      display: block;
      float: left;
      text-decoration: none;
      margin: 30px 0 0 20px;
      height: 78px;
      width: 79px;
      text-align: center;
    }
    .social-logo{
      .text-template (@TitilliumWeb-Light, 45px, @color-black, 0,600);
    }

  }

  .logo-bottom {
    .text-template( @Existence-Light, 51px, @color-gray, 110px, 600);
    display: block;
    margin-bottom: 128px;
  }

}

/*  get-in-touch stop  */

/*  media get-in-touch start  */
@media(max-width:768px) {
  .get-in-touch {
    .section-title {
      margin-bottom: 100px;
      width: 300px;
      .section-logo {
        font-size: 40px;
      }
    }
    .text-get-in-touch {
      display: block;
      font-size: 19px;
    }
    .networks{
      .social-networks {
        height: 50px;
        width: 50px;
        margin-left: 5px;
        .social-logo{
          font-size: 30px;
        }
      }
    }
    .logo-bottom {
      margin: 50px 0 50px 0;
    }
    .btn-lg {
      margin-bottom: 50px;
    }
  }

}

@media (min-width:768px) and (max-width: 992px){
  .get-in-touch {
    .networks{
      .social-networks {
        height: 40px;
        width: 40px;
        margin-left: 10px;
        .social-logo{
          font-size: 22px;
        }
      }
    }
    .text-get-in-touch {
      font-size: 20px;
    }

    .address {
      font-size: 19px;
    }
  }
}

@media (min-width:992px) and (max-width: 1200px) {
  .get-in-touch {
    .networks{
      .social-networks {
        height: 50px;
        width: 50px;
        margin-left: 10px;
        .social-logo{
          font-size: 30px;
        }
      }
    }
    .address {
      font-size: 20px;
    }
  }
}
/*  media get-in-touch stop  */