/*  header start  */

header {
  margin-right: 0!important;
  .header-background {
    background-image:url("../img/img1.jpg");

    .logo {
       .text-template( @Existence-Light, 90px, @color-white, 110px, normal);
     }

    h1 {
      .text-template(@Lato-Hairline, 48px, @color-white, 0, 600);
    }

    h2 {
      .text-template(@Lato-Hairline, 24px, #ffffff, 0, 500);
    }
    list-style: none;

    .header-nav {
      cursor: pointer;
      float: left;
      height:200px;
      position:relative;
      width:180px;

      .img-icon {
        position: absolute;
        left: 65px;
        top:40px;
        z-index: 1000;
      }

      .name-menu-header {
        .text-template (@Lato-Regular, 18px, @color-white, 0, 600);
        display: block;
        position: absolute;
        top: 120px;
        left: 65px;
        z-index: 1000;
      }

      .hover-bg {
        position: absolute;
        width:185px;
        height:200px;
        background-image: url("../img/hoverbg.png");
        display: block;
      }

      .border-menu {
        background-image: url("../img/fon-menu.png");
        position: absolute;
        left: 10px;
        top:10px ;
        width:167px;
        height:181px;
      }

    }

    .indents {
      margin-top: 20px;
    }

    .arrow {
      .template-icon(relative, 0, 86px, 93px);
      background-image: url("../img/arrow-down.png");
      display: block;
      margin-bottom: 80px;
      cursor: pointer;
    }
  }

}

/*  header stop  */

/* media  header start  */
@media (max-width:768px) {
  header{
    .header-background {
      .logo{
        font-size: 47px;
        margin-top: 55px;
      }
      h1 {
        font-size: 24px;
      }

      h2 {
        font-size: 15px;
      }
    }
  }
}
/* media  header stop  */