.text-template(@font-family, @font-size, @color, @margin-top,@font-weight) {
  font-family: @font-family;
  font-size: @font-size;
  color: @color;
  margin-top: @margin-top;
  font-weight: @font-weight;
}

.template-icon (@position, @margin-top, @width, @height) {
  position:@position;
  margin-top:@margin-top;
  width: @width;
  height: @height;
}

.button-template() {
  background: @color-pink;
  color: @color-white;
  padding-top: 20px;
  font-size: 20px;
  margin-top: 150px;
  height: 75px;
  width: 227px;
  &:hover {
    background:@color-white;
    color:@color-pink;
    border: 2px solid @color-pink;
  }
}




