/*  quote start  */
@quotebg: "../img/quotebg.jpg";
.section-img {
  background-image: url(@quotebg);
  height: 624px;

  .logo-quote {
    background-image: url("../img/fon-menu.png");
    height: 181px;
    margin-top: 152px;
    width: 167px;

    .icon-quote {
      margin: 60px 0 0 50px;
    }
  }

  .quote-text{
    display: block;
    .text-template(@Lato-Light, 48px, @color-white, 65px, 600);

  }

}

/*  quote stop  */

/*  media quote start  */
@media (max-width:768px) {
  .section-img {
    .quote-text{
      font-size: 30px;
    }
  }
}

/*  media quote stop */