/* skills start  */
.skills {
  .skills-top-row {
    margin-top: 150px;

    .category-skill {
      .text-template (@Helveticaneueltstd-bd, 23px, black, 0, 100);
      float: left;
    }

    .percent {
      .text-template (@HelveticaNeueLTStd-Lt, 24px, @color-gray, 0, 100);
    }

    .progress-bar-success {
      background-color: @color-pink;

    }
  }

  .skills-bottom-row {
    .skills-top-row;
    margin-top: 53px;
    margin-bottom: 202px;
  }

}
/* skills stop  */

/*  media skills start  */
@media (max-width:768px){
  .skills {
    .skills-top-row {
      margin: 50px 0 0px 0;
      .category-skill {
        font-size: 18px;
      }
      .percent {
        .category-skill;
      }
    }
    .skills-bottom-row {
      .skills-top-row;
      margin: 0 0 30px 0;
    }
  }
}

@media (min-width:768px) and (max-width: 992px){
  .skills {
    .skills-top-row {
      .category-skill {
        font-size: 19px;
      }
      .progress {
        width: 280px;
      }
    }
    .skills-bottom-row {
      .skills-top-row;
    }
  }
}
/*  media skills stop  */