/* statistic-reviews start*/

.statistic-reviews {
  background: @color-feature;
  .statistic {
    .text-template (@HelveticaNeueLTStd-Lt, 64px, @color-black, 165px, 100);
    display: block;
  }
  .statistic-text {
    .text-template (@HelveticaNeueLTStd-Lt, 16px, @color-gray, 0, 100);
    display: block;
  }

  .carousel{
    margin-top: 145px;
    margin-bottom: 105px;
      li {
        border: 1px solid #000000;
      }
    .active {
      background: #000000;
    }
    .item{
      background: @color-feature;
      text-align: center;
      height: 300px !important;
      margin-bottom: 120px;
    }
    .comment-slider-2 {
      .text-template (@HelveticaNeueLTStd-Lt, 33px, @color-gray, 0, 100);
    }

    .name-slider-2 {
      .text-template (@Helveticaneueltstd-bd, 15px, @color-gray, 0, 100);
      margin-top: 46px;
      display: block;
    }

    .img-slider-reviews {
      height: 200px;
      width: 200px;
    }
  }
}

/* statistic-reviews stop*/

/* media statistic-reviews start*/
@media (max-width:768px) {
  .statistic-reviews{
      .statistic {
        font-size: 45px;
        margin-top: 30px;
      }
    .statistic-text {
      margin-bottom: 30px;
    }
  }
}

@media (min-width:768px) and (max-width: 992px){
  .statistic-reviews{
      .statistic-text {
        margin-bottom: 100px;
      }
      .carousel{
        .comment-slider-2 {
          font-size: 28px;
        }
      }
  }
}

@media (min-width:992px) and (max-width: 1200px) {
  .statistic-reviews{
    .statistic-text {
      margin-bottom: 100px;
    }
  }

}

/* media statistic-reviews stop*/