.container-fluid {
  padding: 0 0 0 0;
}


body {
  background: #ffffff;
}

.logo-color {
  color: @color-pink;
}

.angles-right {
  position: absolute;
  top: 0;
  right: 0;
}

.angles-left {
  position: absolute;
  left: 0;
  bottom: 0;
}

.section-title {
  margin-top: 140px;
  position: relative;
  height: 114px;
  width: 270px;
}

.section-logo {
  .text-template(@Existence-Light, 48px, @color-gray, 0, 600);
  position: absolute;
  bottom: 25px;
  left: 37px;
}

#top {
  bottom: 0;
  background: green;
  display: none;
  cursor: pointer;
  font-size: 150%;
  position: fixed;
  right: 0;
}