@font-face {
  font-family: Existence-Light;
  src: url(../fonts/Existence-Light.ttf);
}
@font-face {
  font-family:Lato-Hairline;
  src: url(../fonts/Lato-Hairline.ttf);
}
@font-face {
  font-family:Lato-Light;
  src: url(../fonts/Lato-Light.ttf);
}
@font-face {
  font-family:Lato-Bold;
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family:Lato-Regular;
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family:TitilliumWeb-Light;
  src: url(../fonts/TitilliumWeb-Light.ttf);
}
@font-face {
  font-family:Helveticaneueltstd-bd;
  src: url(../fonts/helveticaneueltstd-bd.ttf);
}
@font-face {
  font-family:HelveticaNeueLTStd-Lt;
  src: url(../fonts/HelveticaNeueLTStd-Lt.ttf);
}
@font-face {
  font-family:helveticaneueltstd-bdcn-webfont;
  src: url(../fonts/helveticaneueltstd-bdcn-webfont.ttf);
}
@Existence-Light: Existence-Light;
@Lato-Hairline: Lato-Hairline;
@Lato-Light:Lato-Light;
@Lato-Bold:Lato-Bold;
@Lato-Regular:Lato-Regular;
@TitilliumWeb-Light:TitilliumWeb-Light;
@Helveticaneueltstd-bd:Helveticaneueltstd-bd;
@HelveticaNeueLTStd-Lt:HelveticaNeueLTStd-Lt;
@helveticaneueltstd-bdcn-webfont:helveticaneueltstd-bdcn-webfont;

@color-pink: #9f449b;
@color-white: #ffffff;
@color-gray:#676767;
@color-feature:#eeeeee;
@color-black:#222222;
