@font-face {
  font-family: Existence-Light;
  src: url(../fonts/Existence-Light.ttf);
}
@font-face {
  font-family: Lato-Hairline;
  src: url(../fonts/Lato-Hairline.ttf);
}
@font-face {
  font-family: Lato-Light;
  src: url(../fonts/Lato-Light.ttf);
}
@font-face {
  font-family: Lato-Bold;
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato-Regular;
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: TitilliumWeb-Light;
  src: url(../fonts/TitilliumWeb-Light.ttf);
}
@font-face {
  font-family: Helveticaneueltstd-bd;
  src: url(../fonts/helveticaneueltstd-bd.ttf);
}
@font-face {
  font-family: HelveticaNeueLTStd-Lt;
  src: url(../fonts/HelveticaNeueLTStd-Lt.ttf);
}
@font-face {
  font-family: helveticaneueltstd-bdcn-webfont;
  src: url(../fonts/helveticaneueltstd-bdcn-webfont.ttf);
}
.container-fluid {
  padding: 0 0 0 0;
}
body {
  background: #ffffff;
}
.logo-color {
  color: #9f449b;
}
.angles-right {
  position: absolute;
  top: 0;
  right: 0;
}
.angles-left {
  position: absolute;
  left: 0;
  bottom: 0;
}
.section-title {
  margin-top: 140px;
  position: relative;
  height: 114px;
  width: 270px;
}
.section-logo {
  font-family: Existence-Light;
  font-size: 48px;
  color: #676767;
  margin-top: 0;
  font-weight: 600;
  position: absolute;
  bottom: 25px;
  left: 37px;
}
#top {
  bottom: 0;
  background: green;
  display: none;
  cursor: pointer;
  font-size: 150%;
  position: fixed;
  right: 0;
}
/*  header start  */
header {
  margin-right: 0!important;
}
header .header-background {
  background-image: url("../img/img1.jpg");
  list-style: none;
}
header .header-background .logo {
  font-family: Existence-Light;
  font-size: 90px;
  color: #ffffff;
  margin-top: 110px;
  font-weight: normal;
}
header .header-background h1 {
  font-family: Lato-Hairline;
  font-size: 48px;
  color: #ffffff;
  margin-top: 0;
  font-weight: 600;
}
header .header-background h2 {
  font-family: Lato-Hairline;
  font-size: 24px;
  color: #ffffff;
  margin-top: 0;
  font-weight: 500;
}
header .header-background .header-nav {
  cursor: pointer;
  float: left;
  height: 200px;
  position: relative;
  width: 180px;
}
header .header-background .header-nav .img-icon {
  position: absolute;
  left: 65px;
  top: 40px;
  z-index: 1000;
}
header .header-background .header-nav .name-menu-header {
  font-family: Lato-Regular;
  font-size: 18px;
  color: #ffffff;
  margin-top: 0;
  font-weight: 600;
  display: block;
  position: absolute;
  top: 120px;
  left: 65px;
  z-index: 1000;
}
header .header-background .header-nav .hover-bg {
  position: absolute;
  width: 185px;
  height: 200px;
  background-image: url("../img/hoverbg.png");
  display: block;
}
header .header-background .header-nav .border-menu {
  background-image: url("../img/fon-menu.png");
  position: absolute;
  left: 10px;
  top: 10px ;
  width: 167px;
  height: 181px;
}
header .header-background .indents {
  margin-top: 20px;
}
header .header-background .arrow {
  position: relative;
  margin-top: 0;
  width: 86px;
  height: 93px;
  background-image: url("../img/arrow-down.png");
  display: block;
  margin-bottom: 80px;
  cursor: pointer;
}
/*  header stop  */
/* media  header start  */
@media (max-width: 768px) {
  header .header-background .logo {
    font-size: 47px;
    margin-top: 55px;
  }
  header .header-background h1 {
    font-size: 24px;
  }
  header .header-background h2 {
    font-size: 15px;
  }
}
/* media  header stop  */
/*  navigation start  */
.navigation {
  background: #ffffff;
  position: fixed;
  height: 90px;
  width: 100%;
  z-index: 1000;
}
.navigation .container .logo-navigation {
  font-family: Existence-Light;
  font-size: 30px;
  color: #676767;
  margin-top: 25px;
  font-weight: 600;
}
.navigation .container .navbar-default {
  background-color: #ffffff;
  border: none;
}
.navigation .container .navbar-default .navbar-collapse {
  border: none;
}
.navigation .container .nav {
  margin-top: 20px;
}
.navigation .container .nav li a {
  font-family: Lato-Light;
  font-size: 18px;
  color: #222222;
  margin-top: 0;
  font-weight: 600;
}
.navigation .container .nav li a:hover {
  background: #ffffff;
  color: #9f449b;
}
/*  navigation stop  */
/* media navigation start */
@media (max-width: 992px) {
  .navigation .container {
    padding: 0;
  }
  .navigation .container .menu-navigation {
    padding-right: 0;
  }
  .navigation .container .navbar-header {
    margin-top: 25px;
  }
  .navigation .container .logo-navigation {
    margin-top: 40px;
    font-size: 20px;
  }
  .navigation .container .nav li a {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 0;
  }
  .navigation .container .nav #menu-item-7 {
    display: none;
  }
}
/* media navigation stop */
/*  feature start  */
.feature {
  background: #eeeeee;
  padding-top: 100px;
}
.feature .text-feature-big {
  font-family: Lato-Light;
  font-size: 24px;
  color: #676767;
  margin-top: 20px;
  font-weight: 600;
  display: block;
}
.feature .text-feature-small {
  font-family: Lato-Light;
  font-size: 16px;
  color: #676767;
  margin-top: 40px;
  font-weight: 600;
  display: block;
  line-height: 30px;
  margin-bottom: 228px;
}
.feature .img-feature {
  height: 250px;
  width: 250px;
}
/*  feature stop  */
/* media feature start */
@media (max-width: 768px) {
  .feature .text-feature-big {
    margin-top: 50px;
  }
  .feature .text-feature-small {
    margin: 10px 0 50px 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .feature .text-feature-big {
    font-size: 20px;
  }
  .feature .text-feature-small {
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 100px;
  }
  .feature .img-feature {
    height: 150px;
    width: 150px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .feature .img-feature {
    height: 205px;
    width: 205px;
  }
}
/* media feature stop */
/*  about start  */
.about #screen {
  margin-top: 137px;
}
.about .section-text {
  font-family: Lato-Light;
  font-size: 16px;
  color: #676767;
  margin-top: 137px;
  font-weight: 600;
  line-height: 30px;
}
.about .section-text .btn-lg {
  background: #9f449b;
  color: #ffffff;
  padding-top: 20px;
  font-size: 20px;
  margin-top: 150px;
  height: 75px;
  width: 227px;
  margin-bottom: 232px;
  font-weight: 600;
}
.about .section-text .btn-lg:hover {
  background: #ffffff;
  color: #9f449b;
  border: 2px solid #9f449b;
}
/*  about stop  */
/* about media start  */
@media (max-width: 768px) {
  .about #screen {
    margin-top: 28px;
  }
  .about .section-text {
    margin-top: 25px;
  }
  .about .section-text .btn-lg {
    margin: 25px 0 100px 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .about .section-text {
    font-size: 11px;
  }
  .about .section-text .btn-lg {
    margin: 25px 0 100px 0;
    padding-top: 10px;
    font-size: 15px;
    height: 45px;
    width: 127px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .about .section-text .btn-lg {
    margin-top: 45px;
  }
}
/* about media stop  */
/*  quote start  */
.section-img {
  background-image: url("../img/quotebg.jpg");
  height: 624px;
}
.section-img .logo-quote {
  background-image: url("../img/fon-menu.png");
  height: 181px;
  margin-top: 152px;
  width: 167px;
}
.section-img .logo-quote .icon-quote {
  margin: 60px 0 0 50px;
}
.section-img .quote-text {
  display: block;
  font-family: Lato-Light;
  font-size: 48px;
  color: #ffffff;
  margin-top: 65px;
  font-weight: 600;
}
/*  quote stop  */
/*  media quote start  */
@media (max-width: 768px) {
  .section-img .quote-text {
    font-size: 30px;
  }
}
/*  media quote stop */
/*  team start  */
.team .arrow-slider {
  width: 136px;
}
.team .arrow-slider .arrow-left-slider {
  background-image: url("../img/arrow-slider-team.png");
  display: block;
  margin-top: 130px;
  position: static;
  height: 70px;
  opacity: 1;
  float: left;
  width: 68px;
  z-index: 1000;
}
.team .arrow-slider .arrow-right-slider {
  background-image: url("../img/arrow-slider-team.png");
  display: block;
  margin-top: 130px;
  position: static;
  height: 70px;
  opacity: 1;
  float: left;
  width: 68px;
  z-index: 1000;
  background-position: -68px;
}
.team .item {
  background: #ffffff;
  text-align: center;
  width: 100%;
  height: 500px !important;
}
.team .carousel .foto-team {
  margin: 50px 0 0 0;
  float: left;
}
.team .carousel .foto-team .img-slider-team {
  height: 280px;
  width: 280px;
}
.team .carousel .foto-team .name-team {
  font-family: Lato-Bold;
  font-size: 24px;
  color: #222222;
  margin-top: 83px;
  font-weight: 100;
  display: block;
}
.team .carousel .foto-team .job-post {
  font-family: Lato-Regular;
  font-size: 18px;
  color: #676767;
  margin-top: 20px;
  font-weight: 100;
  display: block;
}
.team .carousel .foto-team .networks {
  width: 160px;
}
.team .carousel .foto-team .networks .social-networks {
  border-radius: 50%;
  border: 1px solid #000000;
  display: block;
  float: left;
  text-decoration: none;
  margin: 35px 0 0 15px;
  height: 50px;
  width: 48px;
}
.team .carousel .foto-team .networks .social-logo {
  font-family: TitilliumWeb-Light;
  font-size: 22px;
  color: #222222;
  margin-top: 5px;
  font-weight: 600;
  display: block;
}
/*  team stop  */
@media (min-width: 768px) and (max-width: 992px) {
  .team .carousel .foto-team .img-slider-team {
    height: 210px;
    width: 210px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .team .name-team {
    font-size: 15px;
  }
}
/* skills start  */
.skills .skills-top-row {
  margin-top: 150px;
}
.skills .skills-top-row .category-skill {
  font-family: Helveticaneueltstd-bd;
  font-size: 23px;
  color: black;
  margin-top: 0;
  font-weight: 100;
  float: left;
}
.skills .skills-top-row .percent {
  font-family: HelveticaNeueLTStd-Lt;
  font-size: 24px;
  color: #676767;
  margin-top: 0;
  font-weight: 100;
}
.skills .skills-top-row .progress-bar-success {
  background-color: #9f449b;
}
.skills .skills-bottom-row {
  margin-top: 150px;
  margin-top: 53px;
  margin-bottom: 202px;
}
.skills .skills-bottom-row .category-skill {
  font-family: Helveticaneueltstd-bd;
  font-size: 23px;
  color: black;
  margin-top: 0;
  font-weight: 100;
  float: left;
}
.skills .skills-bottom-row .percent {
  font-family: HelveticaNeueLTStd-Lt;
  font-size: 24px;
  color: #676767;
  margin-top: 0;
  font-weight: 100;
}
.skills .skills-bottom-row .progress-bar-success {
  background-color: #9f449b;
}
/* skills stop  */
/*  media skills start  */
@media (max-width: 768px) {
  .skills .skills-top-row {
    margin: 50px 0 0px 0;
  }
  .skills .skills-top-row .category-skill {
    font-size: 18px;
  }
  .skills .skills-top-row .percent {
    font-size: 18px;
  }
  .skills .skills-bottom-row {
    margin: 50px 0 0px 0;
    margin: 0 0 30px 0;
  }
  .skills .skills-bottom-row .category-skill {
    font-size: 18px;
  }
  .skills .skills-bottom-row .percent {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .skills .skills-top-row .category-skill {
    font-size: 19px;
  }
  .skills .skills-top-row .progress {
    width: 280px;
  }
  .skills .skills-bottom-row .category-skill {
    font-size: 19px;
  }
  .skills .skills-bottom-row .progress {
    width: 280px;
  }
}
/*  media skills stop  */
/* statistic-reviews start*/
.statistic-reviews {
  background: #eeeeee;
}
.statistic-reviews .statistic {
  font-family: HelveticaNeueLTStd-Lt;
  font-size: 64px;
  color: #222222;
  margin-top: 165px;
  font-weight: 100;
  display: block;
}
.statistic-reviews .statistic-text {
  font-family: HelveticaNeueLTStd-Lt;
  font-size: 16px;
  color: #676767;
  margin-top: 0;
  font-weight: 100;
  display: block;
}
.statistic-reviews .carousel {
  margin-top: 145px;
  margin-bottom: 105px;
}
.statistic-reviews .carousel li {
  border: 1px solid #000000;
}
.statistic-reviews .carousel .active {
  background: #000000;
}
.statistic-reviews .carousel .item {
  background: #eeeeee;
  text-align: center;
  height: 300px !important;
  margin-bottom: 120px;
}
.statistic-reviews .carousel .comment-slider-2 {
  font-family: HelveticaNeueLTStd-Lt;
  font-size: 33px;
  color: #676767;
  margin-top: 0;
  font-weight: 100;
}
.statistic-reviews .carousel .name-slider-2 {
  font-family: Helveticaneueltstd-bd;
  font-size: 15px;
  color: #676767;
  margin-top: 0;
  font-weight: 100;
  margin-top: 46px;
  display: block;
}
.statistic-reviews .carousel .img-slider-reviews {
  height: 200px;
  width: 200px;
}
/* statistic-reviews stop*/
/* media statistic-reviews start*/
@media (max-width: 768px) {
  .statistic-reviews .statistic {
    font-size: 45px;
    margin-top: 30px;
  }
  .statistic-reviews .statistic-text {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .statistic-reviews .statistic-text {
    margin-bottom: 100px;
  }
  .statistic-reviews .carousel .comment-slider-2 {
    font-size: 28px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .statistic-reviews .statistic-text {
    margin-bottom: 100px;
  }
}
/* media statistic-reviews stop*/
/* portfolio start  */
.portfolio {
  background: #ffffff;
  margin-top: -57px;
}
.portfolio .section-title {
  width: 350px;
}
.portfolio .row-button {
  margin: 82px 0 70px 0;
}
.portfolio .row-button .btn {
  margin-left: 5px;
}
.portfolio .row-button .btn-default:hover {
  background: #9f449b;
}
.portfolio .wrapper li {
  list-style-type: none;
}
.portfolio .wrapper .wrapper-img {
  position: relative;
}
.portfolio .wrapper .wrapper-img .example .hover-portfolio-bg {
  background: red;
  cursor: pointer;
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  top: 0;
}
.portfolio .wrapper .wrapper-img .example .hover-portfolio-bg img {
  margin-top: 25%;
}
.portfolio .name-portfolio {
  font-family: HelveticaNeueLTStd-Lt;
  font-size: 24px;
  color: #222222;
  margin-top: 23px;
  font-weight: 100;
  display: block;
}
.portfolio .promo-text {
  font-family: HelveticaNeueLTStd-Lt;
  font-size: 17px;
  color: #676767;
  margin-top: 0;
  font-weight: 100;
  display: block;
  margin-bottom: 35px;
}
.portfolio .btn-lg {
  background: #9f449b;
  color: #ffffff;
  padding-top: 20px;
  font-size: 20px;
  margin-top: 150px;
  height: 75px;
  width: 227px;
  margin-top: 0;
}
.portfolio .btn-lg:hover {
  background: #ffffff;
  color: #9f449b;
  border: 2px solid #9f449b;
}
.portfolio .portfolio-button {
  width: 227px;
}
/* portfolio stop  */
/* media portfolio start  */
@media (max-width: 768px) {
  .portfolio {
    margin-top: 0;
  }
  .portfolio .wrapper .wrapper-img .example .hover-portfolio-bg img {
    margin-top: 15%;
  }
  .portfolio .wrapper .name-portfolio {
    font-size: 15px;
  }
  .portfolio .wrapper .promo-text {
    font-size: 10px;
  }
  .portfolio .row-button {
    margin-top: 50px;
  }
  .portfolio .section-title {
    width: 280px;
  }
  .portfolio .section-title .section-logo {
    font-size: 40px;
  }
  .portfolio .name-portfolio {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .portfolio .wrapper .wrapper-img .example .hover-portfolio-bg img {
    margin-top: 10%;
  }
  .portfolio .wrapper .name-portfolio {
    font-size: 20px;
  }
  .portfolio .wrapper .promo-text {
    font-size: 15px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .portfolio .wrapper .wrapper-img .example .hover-portfolio-bg img {
    margin-top: 20%;
  }
}
/* media portfolio stop  */
/*  get-in-touch start  */
.get-in-touch .section-title {
  margin-bottom: 170px;
  width: 350px;
}
.get-in-touch .form-group {
  margin-bottom: 37px;
}
.get-in-touch .form-group .form-control {
  border: 1px solid #000000;
  border-radius: 0;
  height: 73px;
}
.get-in-touch .form-group .textarea {
  height: 200px;
}
.get-in-touch .btn-lg {
  background: #9f449b;
  color: #ffffff;
  padding-top: 20px;
  font-size: 20px;
  margin-top: 150px;
  height: 75px;
  width: 227px;
  margin-top: 0;
}
.get-in-touch .btn-lg:hover {
  background: #ffffff;
  color: #9f449b;
  border: 2px solid #9f449b;
}
.get-in-touch .text-get-in-touch {
  font-family: HelveticaNeueLTStd-Lt;
  font-size: 23px;
  color: #222222;
  margin-top: 0;
  font-weight: 100;
}
.get-in-touch .address {
  font-family: helveticaneueltstd-bdcn-webfont;
  font-size: 23px;
  color: #222222;
  margin-top: 30px;
  font-weight: 600;
  display: block;
}
.get-in-touch .contact {
  font-family: helveticaneueltstd-bdcn-webfont;
  font-size: 23px;
  color: #222222;
  margin-top: 30px;
  font-weight: 600;
  display: block;
  margin-top: 34px;
}
.get-in-touch .networks .social-networks {
  border-radius: 50%;
  border: 1px solid #000000;
  display: block;
  float: left;
  text-decoration: none;
  margin: 30px 0 0 20px;
  height: 78px;
  width: 79px;
  text-align: center;
}
.get-in-touch .networks .social-logo {
  font-family: TitilliumWeb-Light;
  font-size: 45px;
  color: #222222;
  margin-top: 0;
  font-weight: 600;
}
.get-in-touch .logo-bottom {
  font-family: Existence-Light;
  font-size: 51px;
  color: #676767;
  margin-top: 110px;
  font-weight: 600;
  display: block;
  margin-bottom: 128px;
}
/*  get-in-touch stop  */
/*  media get-in-touch start  */
@media (max-width: 768px) {
  .get-in-touch .section-title {
    margin-bottom: 100px;
    width: 300px;
  }
  .get-in-touch .section-title .section-logo {
    font-size: 40px;
  }
  .get-in-touch .text-get-in-touch {
    display: block;
    font-size: 19px;
  }
  .get-in-touch .networks .social-networks {
    height: 50px;
    width: 50px;
    margin-left: 5px;
  }
  .get-in-touch .networks .social-networks .social-logo {
    font-size: 30px;
  }
  .get-in-touch .logo-bottom {
    margin: 50px 0 50px 0;
  }
  .get-in-touch .btn-lg {
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .get-in-touch .networks .social-networks {
    height: 40px;
    width: 40px;
    margin-left: 10px;
  }
  .get-in-touch .networks .social-networks .social-logo {
    font-size: 22px;
  }
  .get-in-touch .text-get-in-touch {
    font-size: 20px;
  }
  .get-in-touch .address {
    font-size: 19px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .get-in-touch .networks .social-networks {
    height: 50px;
    width: 50px;
    margin-left: 10px;
  }
  .get-in-touch .networks .social-networks .social-logo {
    font-size: 30px;
  }
  .get-in-touch .address {
    font-size: 20px;
  }
}
/*  media get-in-touch stop  */
